@import "./_vars.scss";
@import "./_generics.scss";

.col-2 {
	width: 50%;
	height: 100%;
	display: inline-block;
}

a {
	text-decoration: none;
}

.border {
	padding: 20px 15px;
    border: 3px solid #0282f9;
}